%btn {
  border: 2px solid #d2d2d2;
  border-radius: $border-radius;
  padding: $units 2 * $units;
  color: black;
}

%btn-raised {
  border-radius: $border-radius;
  padding: 1.5 * $units 2.5 * $units;
  color: white;
  background: linear-gradient(to right, $secondary, $primary);
  box-shadow: 0 4px 24px rgba(rgb(8, 6, 6), 0.15);
  font-weight: bold;
  display: inline-block;
}

.btn {
  @extend %btn;

  &-light {
    @extend %btn;
    border-color: white;
    color: white !important;
    background: transparent;
    transition: all 180ms linear;

    &:hover,
    &:active {
      color: black !important;
      font-weight: bold;
      background: white !important;
      box-shadow: 0px 2px 16px rgba(black, 0.25);
    }
  }

  &-raised {
    @extend %btn-raised;

    &-light {
      @extend %btn-raised;
      color: black;
      background: white;
      box-shadow: 0 12px 45px rgba(black, 0.28);
      padding: 2.4 * $units 3.8 * $units;
    }
  }
}

// Medium Windows
@include styles-above-size("sm") {
  .btn {
    &-raised {
      &-light {
        padding: 3.3 * $units 4.5 * $units;
      }
    }
  }
}

// Large windows
@include styles-above-size("lg") {
  .btn {
    &-raised {
      &-light {
        padding: 3.3 * $units 4.5 * $units;
      }
    }
  }
}
