* {
	box-sizing: border-box !important;
}

.container {
	display: block;
	margin: 0 auto;
	width: 90%;
}

body {
	background: white;
}

@include styles-above-size(md) {
	.container {
		width: 80%;
	}
}
