#hero {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;

	&-background {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		height: 90%;
	}

	&-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: linear-gradient(
			-125deg,
			$secondary-with-alpha,
			$primary-with-alpha
		);

		header {
			height: $header-menu-height;

			.container {
				display: flex;
				height: 100%;
				justify-content: space-between;
				align-items: center;

				a {
					display: block;
					height: $spacing-unit * 5;

					&.menu-header {
						display: flex;
						align-items: center;
						color: rgba($primary-text-color, $alpha);
						transition: $transition-default;

						&:focus,
						&:hover {
							color: $primary-text-color;
						}

						img {
							margin-left: $spacing-unit * 2;
						}

						img[alt="Close"] {
							padding: $spacing-unit;
							display: none;
						}
					}

					img {
						height: 100%;
					}
				}
			}
		}

		.content {
			position: relative;

			h1.hero-background-text {
				color: rgba($primary, 0.3);
				font-size: 17vw;
				font-weight: bold;
				// position: absolute;
				// top: 48%;
				// left: 8%;
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none; /* Safari */
				-khtml-user-select: none; /* Konqueror HTML */
				-moz-user-select: none; /* Old versions of Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none;
			}

			.hero-text {
				color: $primary-text-color;
				font-weight: bold;
				// position: absolute;
			}

			h3 {
				&.hero-text {
					font-size: 1.8rem;
					// top: 54%;
					// left: 10%;
				}
			}

			h2 {
				&.hero-text {
					font-size: 2.35rem;
					// top: 62%;
					// left: 10%;
					// width: 85%;
				}
			}
		}
	}
}

main.menu-is-active {
	#hero {
		&-overlay {
			header {
				.container {
					a {
						&.menu-header {
							color: transparent;

							img[alt="Menu"] {
								display: none;
							}

							img[alt="Close"] {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

@include styles-above-size(md) {
	#hero {
		&-background {
			position: absolute;
			top: 5%;
			bottom: 0;
			right: -5%;
			left: initial;
			height: 110%;
		}

		&-overlay {
			.content {
				height: 100%;
				display: flex;
				align-items: center;

				.container {
					position: relative;
					margin-top: -$header-menu-height - 2 * $spacing-unit;

					h1.hero-background-text {
						color: rgba(white, 0.06);
						font-size: 11vw;
						font-weight: bold;
						position: absolute;
						top: -14%;
						// left: 8%;
						-webkit-touch-callout: none; /* iOS Safari */
						-webkit-user-select: none; /* Safari */
						-khtml-user-select: none; /* Konqueror HTML */
						-moz-user-select: none; /* Old versions of Firefox */
						-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none;
					}

					.hero-text {
						color: $primary-text-color;
						font-weight: bold;
						// position: absolute;
					}

					h3 {
						&.hero-text {
							font-size: 2rem;
							// top: 54%;
							// left: 10%;
						}
					}

					h2 {
						&.hero-text {
							font-size: 3rem;
							font-weight: 400;
							margin-top: 4 * $spacing-unit;
							// top: 62%;
							// left: 10%;
							width: 70%;
						}
					}

					.buttons {
						margin-top: 10 * $spacing-unit;

						a {
							margin-right: 1.5 * $spacing-unit;
						}
					}
				}
			}
		}
	}
}
