main {
	background: white;
	transition: all 220ms linear;

	&.menu-is-active {
		transform: scale(0.97) translateX(-$menu-size);
		border-radius: $border-radius * 4;
		overflow: hidden;
		box-shadow: 4px 0px 25px rgba(black, 0.15);
	}
}

@include styles-above-size(md) {
	main {
		&.menu-is-active {
			transform: scale(0.97) translateX(-$menu-size-desktop);
		}
	}
}
