.notification {
	position: fixed;
	bottom: $spacing-unit * 2;
	right: $spacing-unit * 2;
	z-index: 9;
	// border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;

	i {
		font-size: 2rem;
		color: white;
		opacity: 0;
		transition: $transition-default;

		&.not-filled {
			background: rgba(white, 0.2);
			border-radius: 50%;
			padding: $spacing-unit;
			font-size: 1.6rem;
			color: white;
		}
	}

	span {
		background: black;
		color: white;
		margin-right: $spacing-unit * 2;
		font-size: 1.2rem;
		padding: $spacing-unit * 1.5 $spacing-unit * 3;
		transform-origin: right center;
		transform: scaleX(0);
		transition: $transition-default;
		transition-delay: 90ms;
	}

	&.is-active {
		i {
			opacity: 1;
		}

		span {
			transform: scaleX(1);
		}
	}
}
