html,
body {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: $default-text-size;
  line-height: $line-height;
}

@include styles-above-size("lg") {
  html,
  body {
    font-size: 1.3 * $default-text-size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sanchez", serif;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.05rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1rem;
}

%small-title-heading {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $primary;
  font-size: 1rem;
}

.junior-heading {
  @extend %small-title-heading;

  &-light {
    @extend %small-title-heading;
    color: rgba(white, 0.9);
  }
}

.body-text {
  font-size: 1.3rem;
  line-height: 1.5;
}

// Medium Windows
@include styles-above-size("sm") {
}

// Large windows
@include styles-above-size("lg") {
}
